<body style="height: 100vh;">
  <!-- section -->
  <section class="register">
    <div class="register-full">
      <div class="register-left">
        <div class="register">
          <div class="logo">
            <a href="#"><span></span></a>
          </div>
        </div>
      </div>
      <div class="register-right">
        <div class="register-in">
          <img src="../../../assets/imgs/logo8.png" />
          <h2>
            Sign In Here!
          </h2>
          <div class="register-form">
            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="fields-grid">
                <div class="styled-inputx">
                  <div class="styled-input">
                    <input type="email" id="inputEmail" formControlName="email">
                    <label>Email Address</label>
                    <span></span>
                  </div>
                </div>

                <div class="styled-inputx">
                  <div class="styled-input">
                    <show-hide-password size="sm">
                      <input type="{{value}}" id="inputPassword" formControlName="password">
                      <label>Password</label>
                      <span></span>
                    </show-hide-password>
                  </div>
                </div>
                <a [routerLink]="['/forgetPassword']">Forgot Password?</a>
                <br />
                <br />
              </div>
              <input type="submit" value="Sign In" [disabled]="!loginForm.valid">
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <!-- //section -->
</body>
<!-- //body ends -->