.jumbotron{
    background:rgba(17, 17, 17, 0.527) ;
    height:80vh;
    width:50%;
    margin:auto auto auto auto;
    vertical-align: center;
    border-radius: 12px;
}
.signup{
    background:rgb(30, 74, 170);
    font-size: 20px;
    width:50%;
}
.bdy{
    background: rgb(0, 1, 10);
    height: 100vh;
}