.jumbotron{
    background:rgba(3, 0, 20, 0.527) ;
    height:80vh;
    width:50%;
    margin:auto auto auto auto;
    vertical-align: center;
    border-radius: 12px;
}
.signup{
    background:rgb(30, 74, 170);
    font-size: 20px;
    width:50%;
}
.bdy{
    background: rgb(0, 1, 12);
    height: 100vh;
}

.img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
#placeholderimg{
    background-size: cover;
}