@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #toolbtn{
    position: absolute;
    right: 0px;
  }
  .title{
    text-align: center;
   // border:solid ;
    width:100%;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 24px;
  }