.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #toolbtn{
    position: absolute;
    right: 0px;
  }