@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  #toolbtn{
    position: absolute;
    right: 0px;
  }
  .title{
    text-align: center;
   // border:solid ;
    width:100%;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 24px;
  }
 #count{
   font-size: 18px;
 }
  .clicked{
    background: rgb(53, 111, 165);
    box-shadow: 2px 2px 6px blueviolet;
    border:none!important;
    border-radius: 20px!important;
  }